html, body, #bg, #bg table, #bg td, #container {
    height:100%;
    width:100%;
    overflow:hidden;
}

html {
	min-height: 100%;
	overflow: auto;
}

ul, li, form, body, h1, h2, h3, h4, h5, form {
	padding: 0;
	margin: 0;
	list-style: none;
}

a img {
	border:0;
}

body {
	width: 100%;
	min-height: 100%;
	bottom: 0;
	font-family: 'Myriad Pro', Myriad, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:  14px;
	line-height: 16px;
	overflow: visible;
}


#container {
    position:absolute;
    top:0;left:0;
    z-index:70;
    overflow:auto;
}

#contentContainer {
	margin-top: 265px;
	padding: 10px 0;
}

#contentContainer a {
	background-color: #000;
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
	padding: 0 3px;
}
#contentContainer a:hover {
	color: #FFF !important;
}

#section {
	width: 710px;
	margin: 0 auto;
	padding-right: 240px;
}

.off {
	height: 0;
}

.on {
	height: auto;
}

#footer {
	width: 100%;
	background-color: #FFF;
	bottom: 0px;
	z-index:70;
	position:absolute;
	bottom:0;
	height:130px;
}

#footerLinks {
	color: #FFF !important;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;	
	width:230px;
	float:right;
}

#featureContainer {
	width: 950px;
	margin: 10px auto 0 auto;
	overflow: auto;
}

.smallFeature {
	width: 110px;
	margin: 0 10px 10px 0;
	float:left;
	height: 110px;
	background-color:#fff;
}

div#navContainer {
	width: 950px;	
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -475px;
	z-index: 1;
}

div#nav {
	width: 710px;
	float: left;
}

ul#mainNavigation {

}

ul#mainNavigation li {
	float: left;
	width: 110px;
	margin-left: 10px;
	display: block;
	height: 120px;
}

ul#mainNavigation li#ourApproach {
	margin-left: 0;
}

ul#mainNavigation li#ourApproach a:hover {
	border-bottom: 10px solid #F7B72D;
}
ul#mainNavigation li#caseStudies a:hover {
	border-bottom: 10px solid #B73720;
}
ul#mainNavigation li#productsServices a:hover {
	border-bottom: 10px solid #463E7F;
}
ul#mainNavigation li#meetTeam a:hover {
	border-bottom: 10px solid #0083D7;
}
ul#mainNavigation li#contactFindUs a:hover {
	border-bottom: 10px solid #72AC23;
}

ul#mainNavigation li a {
	color: #FFF;
	font-size:  16px;
	font-weight:  600;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin-top: 68px;
	padding-bottom: 10px;
	background-color: transparent !important;
}

h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: 300;
	position: absolute;
	top: 137px;
	left: 50%;
	margin-left: -475px;
	width: 950px;
	padding-top: 45px;
	color: #FFF;
	height:  83px;
}

h2 {
	font-size: 30px;
	width: 590px;
	font-weight: normal;
	line-height: 32px;
	color: #FFF !important;	
}

h3 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	background-color: transparent !important;
	color: #000;
}


#logo {
	margin-top: -120px;
	margin-left:  720px;
	float: left;
}

#supplementaryContainer {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	width: 230px;
	left: 50%;
	margin-left: 245px;
	position: absolute;
	top: 240px;
}

#supplementary {
	margin-left: 10px;
	margin-top: 10px;
}
#supplementary a {
	color: #000 !important;
	background-color: transparent;
	font-weight: 600;
	background-image: url(../_images/small-bullet.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
}
#supplementary li {
	margin: 10px 0;
	text-transform: capitalize;
}

.yellow {
	border-color: #F7B72D;
	color: #F7B72D;
	background-color: #F7B72D;
}
.yellow a {
	color: #F7B72D !important;
}
.red {
	border-color: #B73720;
	color: #B73720;
	background-color: #B73720;
}
.red a {
	color: #B73720;
}
.purple {
	border-color: #463E7F;
	color: #463E7F;
	background-color: #463E7F;
}
.purple a {
	color: #463E7F;
}
.blue {
	border-color: #0083D7;
	color: #0083D7;
	background-color: #0083D7;
}
.blue a {
	color: #0083D7;
}
.green {
	border-color: #72AC23;
	color: #72AC23;
	background-color: #72AC23;
}
.green a {
	color: #72AC23 !important;
}
.white {
	border-color: #FFF;
	background-color: #FFF;
}
.transparent {
	background-color: transparent;
}

form label {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 0 2px 0;
}

form input, form textarea, form select {
	width: 210px;
	border: 0;
	background-color: #EEE;
}

form input {
	height: 18px;
}

form select {
	border: 2px solid #EEE;
}

div.thumb {
	background-color: #EEE;
	width: 110px;
	margin-right: 10px;
	display: inline-block;
	min-height: 110px;
	float: left;
}

.caseStudyHover {
	opacity:0.25;
}

#focus-stealer      { position: absolute; left: -9999px; }

.shadow {
	text-shadow: rgba(0,0,0,0.25) 1px 1px 0px;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#CCCCCC')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#CCCCCC');
}

/* background image */

* { 
    margin: 0; 
    padding: 0; 
}

#bg { 
    position: fixed; 
	top:0px;
}

#bg div {
    height:200%;
    left:-50%;
    position:absolute;
    top:-50%;
    width:200%;
}

#bg td {
    text-align:center;
    vertical-align:middle;
}

#bg img, #bg iframe {
    margin:0;
    min-height:50%;
    min-width:50%;
    position:absolute;
    top:25%;
    left:25%;
}
