html {
	min-height: 100%;
	overflow: auto;
}

ul, li, form, body, h1, h2, h3, h4, h5, form {
	padding: 0;
	margin: 0;
	list-style: none;
}

a img {
	border:0;
}

body {
	width: 100%;
	min-height: 100%;
	bottom: 0;
	font-family: 'Myriad Pro', Myriad, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:  14px;
	line-height: 16px;
	overflow: visible;
}

#contentContainer {
	margin-top: 265px;
	padding: 9px 0;
}

#contentContainer a {
	background-color: #000;
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
	padding: 0 3px;
}
#contentContainer a:hover {
	color: #FFF !important;
}

#section {
	width: 685px;
	margin: 0 auto;
	padding-right: 257px;
	overflow: auto;
}
.off {
	height: 0;
}
.on {
	height: auto;
}

#featureContainer {
	width: 950px;
	margin: 9px auto 0 auto;
	overflow: auto;
}

div#navContainer {
	width: 950px;	
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -475px;
	z-index: 1;
}

div#nav {
	width: 685px;
	float: left;
}

ul#mainNavigation {

}

ul#mainNavigation li {
	float: left;
	width: 128px;
	margin-left: 9px;
	display: block;
	height: 137px;
}

ul#mainNavigation li#ourApproach {
	margin-left: 0;
}

ul#mainNavigation li#ourApproach a:hover {
	border-bottom: 9px solid #F7B72D;
}
ul#mainNavigation li#caseStudies a:hover {
	border-bottom: 9px solid #B73720;
}
ul#mainNavigation li#productsServices a:hover {
	border-bottom: 9px solid #463E7F;
}
ul#mainNavigation li#meetTeam a:hover {
	border-bottom: 9px solid #0083D7;
}
ul#mainNavigation li#contactFindUs a:hover {
	border-bottom: 9px solid #72AC23;
}

ul#mainNavigation li a {
	color: #FFF;
	font-size:  18px;
	font-weight:  600;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin-top: 87px;
	padding-bottom: 9px;
	background-color: transparent !important; 
}

h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: 300;
	position: absolute;
	top: 137px;
	left: 50%;
	margin-left: -475px;
	width: 950px;
	padding-top: 45px;
	color: #FFF;
	height:  83px;
}

h2 {
	font-size: 26px;
	width: 539px;
	font-weight: normal;
	line-height: 32px;
	color: #000 !important;	
}

h3 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

h4 {
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	background-color: transparent !important;
	color: #000;
}

#feature1, #feature2 {
	width: 265px;
	margin-right: 9px;
	padding: 9px 0;
	float: left;
	min-height: 110px;
}
#feature1 p, #feature2 p, #feature1 h3, #feature2 h3 {
	color: #FFF;
}
#feature1 img, #feature2 img {
	float: right;
}
#feature1 a, #feature2 a {
	background-color: #FFF;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

.smallFeature {
	width: 128px;
	margin: 0 9px 9px 0;
	float:left;
	height: 128px;
	background-color:#fff;
}

#logo {
	margin-top: -137px;
	margin-left:  685px;
	float: left;
}
#iconBg {
	width: 100px;
	height: 100px;
	background-color: #FFF;
	position: absolute;
	z-index: -1;
	left: 800px;
}

/*ul#contactLinks {
	height: 137px;
	margin-left: 9px;
}

ul#contactLinks li a{
	font-weight: 800;
	font-size: 26px;
	color: #E4E4E4;
	line-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
}
ul#contactLinks li a:hover {
	color: #000;
}*/

#supplementaryContainer {
	background-color: #fff;
	background-color: rgba(255,255,255,0.25);
	width: 265px;
	left: 50%;
	margin-left: 210px;
	position: absolute;
	top: 275px;
}

#supplementary {
	margin-left: 9px;
	margin-top: 9px;
}
#supplementary a {
	color: #000 !important;
	background-color: transparent;
	font-weight: 600;
	background-image: url(../_images/small-bullet.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 18px;
}
#supplementary li {
	margin: 9px 0;
	text-transform: capitalize;
}

/*.tooltip { 
    display:none; 
    background-image: url(../_images/tooltip-bottom-bg.png);
	background-position: bottom left;
	background-repeat: no-repeat;
    font-size:12px; 
    width:284px; 
	padding-bottom: 4px;
    color:#000;
}

.tooltipInner {
	background-image:  url(../_images/tooltip-bg.png);
	background-position: top left;
	min-height: 50px;
	padding:9px;
	margin: 0;
}

.tooltipInner li a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
}

.tooltipInner h5 a {
	font-size: 20px;
	line-height: 32px;
}*/

.yellow {
	border-color: #F7B72D;
	color: #F7B72D;
	background-color: #F7B72D;
}
.yellow a {
	color: #F7B72D !important;
}
.red {
	border-color: #B73720;
	color: #B73720;
	background-color: #B73720;
}
.red a {
	color: #B73720;
}
.purple {
	border-color: #463E7F;
	color: #463E7F;
	background-color: #463E7F;
}
.purple a {
	color: #463E7F;
}
.blue {
	border-color: #0083D7;
	color: #0083D7;
	background-color: #0083D7;
}
.blue a {
	color: #0083D7;
}
.green {
	border-color: #72AC23;
	color: #72AC23;
	background-color: #72AC23;
}
.green a {
	color: #72AC23 !important;
}
.white {
	border-color: #FFF;
	background-color: #FFF;
}
.transparent {
	background-color: transparent;
}

form label {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 9px 0 2px 0;
}

form input, form textarea, form select {
	width: 247px;
	border: 0;
	background-color: #EEE;
}

form input {
	height: 18px;
}

form select {
	border: 2px solid #EEE;
}

div.thumb {
	background-color: #EEE;
	width: 128px;
	margin-right: 9px;
	display: inline-block;
	min-height: 128px;
	float: left;
}

.caseStudyHover {
	opacity:0.25;
}

#viewImage {
	font-weight: 800;
	font-size: 26px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	position: absolute;
	top: 195px;
	left: 50%;
	margin-left: 220px;
}

/* background image */

* { 
    margin: 0; 
    padding: 0; 
}

html, body, #bg, #bg table, #bg td, #container {
    height:100%;
    width:100%;
    overflow:hidden;
}

#bg { 
    position: fixed; 
}

#bg div {
    height:200%;
    left:-50%;
    position:absolute;
    top:-50%;
    width:200%;
}

#bg td {
    text-align:center;
    vertical-align:middle;
}

#bg img, #bg iframe {
    margin:0;
    min-height:50%;
    min-width:50%;
    position:absolute;
    top:25%;
    left:25%;
}

#container {
    position:absolute;
    top:0;left:0;
    z-index:70;
    overflow:auto;
}

.box { 
    margin: 0 auto; 
    width: 400px;
    padding: 50px;
    background: white; 
    padding-bottom:100px;
    font: 14px/2.8 Georgia, Serif;
}

#focus-stealer      { position: absolute; left: -9999px; }


