      <div class="smallFeature"> <a href="/case-studies/royal-ahold/" class="page"><img src="/_images/ahold-logo.png" alt="Royal Ahold logo" /></a> </div>
      <div class="smallFeature"> <a href="/case-studies/rrg-group/" class="page"><img src="/_images/rrg-logo.png" alt="RRG Group logo" /></a> </div>
      <div class="smallFeature"> <a href="/case-studies/supponor/" class="page"><img src="/_images/supponor-logo.png" alt="Supponor logo" /></a> </div>
      <div class="smallFeature"> <a href="/case-studies/royal-mail/" class="page"><img src="/_images/royal-mail-logo.png" alt="Royal Mail logo" /></a> </div>
      <div class="smallFeature"> <a href="/case-studies/vale-holiday-parks/" class="page"><img src="/_images/vale-logo.png" alt="Vale Holiday Parks logo" /></a> </div>