    <form method="post" name="contactForm" id="contactForm" accept-charset="utf-8">
      	<div class="feature">
        <p>
      	<label for="name" id="name_label">Your name</label>
        <input id="name" name="name" type="text"/>
        </p>
        <p>
        <label for="email" id="email_label">Your email</label>
        <input id="email" name="email" type="text"/>
        </p>
        <p>
        <input type="checkbox" id="optin" name="optin" checked="true"/>
        <label for="optin" id="optin_label">Stay in touch with me!</label>
        </p>
        </div>
        <div class="feature">
        <p>
        <label for="message" id="message_label">Your message</label>
        <textarea id="message" name="message"></textarea>
        </p>
        </div>
        <div class="feature">
      	<button id="submit" class="submit button" type="submit">Send form</button>
      	</div>
      </form>