		<div id="navContainer">
			
			<div id="nav">
				
				<nav>
					<ul id="mainNavigation">
						<li id="ourApproach"><a class="yellow" href="/our-approach/">Our<br/>approach</a></li>
						<li id="caseStudies"><a href="/case-studies/" class="red">Case<br/>studies</a></li>
						<li id="productsServices"><a class="purple" href="/products-and-services/">Products<br/>&amp; services</a></li>
						<li id="meetTeam"><a class="blue" href="/meet-the-team/">Meet<br/>the team</a></li>
						<li id="contactFindUs"><a class="green" href="/contact-and-find-us/">Contact<br/>&amp; find us</a></li>
					</ul>
				</nav>
				
			</div>
			
			<div id="iconBg"></div>
			<img id="logo" alt="BLISS *" src="/_images/logo-transparent.png" />
			
		</div>
		
		<div id="viewImage"></div>