@font-face {
    font-family: 'Myriad';
    src: url('../font/myriadwebpro-webfont.eot');
    src: url('../font/myriadwebpro-webfont.eot?iefix') format('eot'),
         url('../font/myriadwebpro-webfont.woff') format('woff'),
         url('../font/myriadwebpro-webfont.ttf') format('truetype'),
         url('../font/myriadwebpro-webfont.svg#webfont33t5nZzV') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "Myriad", "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 10px;
	text-align: center;
	color: #000;
}
	
#logo {
	background: url(../images/logo.png) no-repeat; 
	width: 230px;
	height: 120px;
	margin: 0 auto;
	box-shadow: 1px 1px 0px #62150c;
	box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}
#logo a {
	display: block;
	width: 230px;
	height: 120px;
}
#logo span { display: none; }

#topSection {
	background: #aa2113 url(../images/topBg.jpg) no-repeat center bottom;
	width: 100%;
	color: white;
}
#topSection h2 {
	font-size: 3.2em;
	font-weight: 600;
	margin: 50px 0 35px;
	text-shadow: 1px 1px 1px #78180d;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#topSection h2 span { font-weight: 700; }

#topSection p {
	margin: 0 auto;
	font-size: 1.9em;
	font-weight: 600;
	line-height: 26px;
	margin: 26px 0;
	text-shadow: 1px 1px 1px #78180d;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.topButtons {
	margin: 50px 10px 80px;
	width: 170px;
	height: 40px;
	background: #fff;
	box-shadow: 1px 1px 0px #62150c;
	box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	display: inline-block;
	line-height: 40px;
	color: #000;
	text-decoration: none;
	font-size: 1.6em;
	font-weight: 700;	
}
.topButtons:hover {
	box-shadow: -1px -1px 0px #62150c;
	box-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}



#midSection {
	background: url(../images/gradient-bg.png) top repeat-x;
	width: 100%;
	padding-top: 35px;
}
#midSection h2 { font-size: 3.2em; font-weight: 600; }
#midSection p {
	font-size: 1.6em;
	font-weight: 600;
	line-height: 22px;
	margin: 22px 0;
}
.cookie { margin-top: -70px; }

#contactForm {
	width: 460px;
	margin: 0 auto;
}
#contactForm input {
	width: 183px;
	padding: 0 5px;
	height: 33px;
	line-height: 33px;
	margin: 5px 10px; 
	border: 1px solid #ececec;
	text-align: center;
	color: #aaa;
	font-size: 1.6em;
	font-weight: 600;	
}
#contactForm input:hover { border-color: #aaa; }
#contactForm input[type="submit"] {
	width: 195px;
	height: 35px;
	line-height: 35px;
	background: #ab2214;
	color: #fff;
	border: 0;
	cursor: pointer;
	box-shadow: 1px 1px 0px #62150c;
	box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}
#contactForm input[type="submit"]:hover {
	box-shadow: -1px -1px 0px #62150c;
	box-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px -1px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}

footer {
	color: white;
	font-size: 1.6em;
	font-weight: 600;
	line-height: 20px;
	width: 100%;
	background: #ab2214;
	margin-top: 50px;
	padding: 10px 0;
	text-shadow: 1px 1px 1px #78180d;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
footer a {
	text-decoration: none;
	color: white;
}
footer a:hover { text-decoration: underline;}
