html, body, #bg, #bg table, #bg td, #container {
	height:100%;
	width:100%;
	overflow:hidden;
}
html {
	min-height: 100%;
	overflow: auto;
}
ul, li, form, body, h1, h2, h3, h4, h5, form {
	padding: 0;
	margin: 0;
	list-style: none;
}
a img {
	border:0;
}
body {
	width: 100%;
	height: 100%;
	bottom: 0;
	font-family: "myriad-pro-1","myriad-pro-2",'Myriad Pro', Myriad, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:  16px;
	line-height: 16px;
	overflow: hidden;
	background-color:#000;
}
strong {
	font-weight:700;
}
#container {
	position:absolute;
	top:0;
	left:0;
	z-index:70;
	overflow:auto;
}
#contentContainer {
	margin-top: 230px;
	padding: 10px 0;
	padding-bottom: 130px;
}
#contentContainer a {
	color: #FFF;
	font-weight: 400;
}
#contentContainer a:hover {
	color: #FFF !important;
}
#section {
	width: 710px;
	margin: 0 auto;
	padding-right: 240px;
}
.off {
	height: 0;
}
.on {
	height: auto;
}
#supplementaryContainer li a {
	color:#FFF !important;
	text-decoration: none;
	display:block;
}
#featureContainer {
	width: 950px;
	margin: 10px auto 0 auto;
	overflow: auto;
}
#featureContainer a {
	color: #FFF !important;	
}
.smallFeature {
	width: 110px;
	margin: 0 10px 10px 0;
	float:left;
	height: 110px;
	background-image:url(../_images/icon-bg.png);
	text-align:center;
}
.nobg {
	background:none;
}
.feature, .largeFeature {
	width:230px;
	margin: 0 10px 10px 0;
	float: left;
	height:110px;
	color: #FFF !important;
}
.largeFeature {
	width:580px;
}
div#navContainer {
	width: 950px;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -475px;
	z-index: 1;
}
div#nav {
	width: 710px;
	float: left;
}
ul#mainNavigation {
}
ul#mainNavigation li {
	float: left;
	width: 110px;
	margin-right: 10px;
	display: block;
	height: 120px;
}
ul#mainNavigation li#ourApproach {
	margin-left: 0;
}
ul#mainNavigation li#thisIsBliss a:hover {
	border-bottom: 10px solid #F7B72D;
}
ul#mainNavigation li#caseStudies a:hover {
	border-bottom: 10px solid #B73720;
}
ul#mainNavigation li#productsServices a:hover {
	border-bottom: 10px solid #463E7F;
}
ul#mainNavigation li#meetTeam a:hover {
	border-bottom: 10px solid #0083D7;
}
ul#mainNavigation li#contactFindUs a:hover {
	border-bottom: 10px solid #72AC23;
}
ul#mainNavigation li a {
	color: #FFF !important;
	font-size:  16px;
	font-weight:  600;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin-top: 68px;
	padding-bottom: 10px;
	background-color: transparent !important;
}
h1 {
	font-size: 64px;
	line-height: 72px;
	font-weight: 300;
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -475px;
	width: 950px;
	padding-top: 50px;
	color: #FFF;
	height:  60px;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}
h2 {
	font-size: 25px;
	width: 700px;
	font-weight: 500;
	line-height: 40px;
	color: #FFF !important;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}
h3 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
h4 {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	background-color: transparent !important;
	color: #000;
	margin-bottom:16px
}
#logo {
	margin-top: -120px;
	margin-left:  720px;
	float: left;
}
#supplementaryContainer {
	width: 230px;
	left: 50%;
	margin-left: 245px;
	position: absolute;
	top: 240px;
	z-index:80;
}
#supplementaryContainer li, #footerLinks li {
	font-size:15px;
	line-height:14px;
	text-transform:uppercase;
	color:#000 !important;
	font-weight:700;
	text-align:center;
	background-image:url(/_images/side-button-bg.png);
	background-repeat:no-repeat;
	height:30px;
	margin-bottom: 10px;
	overflow:hidden;
}
#supplementaryContainer li a, #footerLinks li a {
	color:#000 !important;
	text-decoration: none;
	display:block;
	line-height:normal;
}
#supplementaryContainer li img, #footerLinks li img {
	float:left;
}
#supplementaryContainer li span, #footerLinks li span {
	padding-top:7px;
	display:block;
}
#footer {
	width: 100%;
	bottom: 0px;
	z-index:70;
	position:absolute;
	bottom:0;
	height:130px;
	color:#fff;
}
#footerLinks {
	width:230px;
	float:right;
}
#footerLinks li {	
	line-height:normal;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.yellow {
	border-color: #F7B72D;
	color: #F7B72D;
	background-color: #F7B72D;
}
.yellow a {
	color: #F7B72D !important;
}
.red {
	border-color: #B73720;
	color: #B73720;
	background-color: #B73720;
}
.red a, .error {
	color: #B73720;
}
.purple {
	border-color: #463E7F;
	color: #463E7F;
	background-color: #463E7F;
}
.purple a {
	color: #463E7F;
}
.blue {
	border-color: #0083D7;
	color: #0083D7;
	background-color: #0083D7;
}
.blue a {
	color: #0083D7;
}
.green {
	border-color: #72AC23;
	color: #72AC23;
	background-color: #72AC23;
}
.green a {
	color: #72AC23 !important;
}
.white {
	border-color: #FFF;
	background-color: #FFF;
}
.transparent {
	background-color: transparent;
}
form {
	float:left;
}
form p {
	position:relative;
	font-size:18px;
	font-weight:400;
	color:#000;
	margin:0;
	padding:0;
}
form label {
	position:absolute;
	top:0;
	left:0;
	color:#CCC;
	padding: 7px 0 0 8px;
}
form input, form textarea, form select {
	width: 222px;
	border: 1px inset;
	background-color: #fff;
	padding: 7px 0 0 6px;
	font-size: 18px;	
	font-family: "myriad-pro-1","myriad-pro-2",'Myriad Pro', Myriad, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
form textarea {
	height: 101px;
	overflow:auto;
}
form input {
	height: 21px;
	margin-bottom:10px
}
form button#submit {
	height: 110px;
	background-image:url(../_images/send-button.png);
	border:0;
	font-weight:700;
	text-transform:uppercase;
	color:#000;
	background-color:transparent;
	width: 110px;
	font-size:16px;
	font-family: "myriad-pro-1","myriad-pro-2",'Myriad Pro', Myriad, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 70px;
}
form input#optin {
	width:auto;
	height:auto;
	padding:0;
	margin:10px 0 0 0;
}
label#optin_label {
	text-transform:none;
	font-weight: 400;
	display:inline;
	color: #FFF;
	margin-left: 20px;
}

div.thumb {
	background-color: #EEE;
	width: 110px;
	margin-right: 10px;
	display: inline-block;
	min-height: 110px;
	float: left;
}
#focus-stealer {
	position: absolute;
	left: -9999px;
}
.shadow {
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}


/* background image */

.bgimage {
	background: #000 center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	height:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	margin-bottom:130px;
	overflow:none;
	z-index:1;
}

#colourBg {
	position:absolute;
	height:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border:0;
	z-index:10;
	opacity:0.15;
	filter:alpha(opacity=15);
}

/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #B73720;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
